html {
  background-color: lightcoral;
  margin: 0;
  height: 100vh;
  width: 100vw;
}



body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightcoral;
}

.picture-container{
  margin-top: 1rem; text-align: center;
  position: fixed;
  z-index: 1000;
}

.card {
  
  display: flex;
  flex-direction: column;  
  width: 300px;
  padding: 20px;
  background: lightpink;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);


  
}

.card-body{
 a{
  color: blue;
  cursor: pointer;
 } 
}

.card-header{
  align-items: center;
  justify-items: center;
}

.card-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;

  .yes-btn {
    background-color: whitesmoke;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover { transform: scale(1.05); box-shadow: 0 4px 12px rgba(0,0,0,0.3); }
    position: relative;
  }
}

.runaway-btn2 {
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


