<body>

<div *ngIf="shownayPicture" class="picture-container"> 
    <img src="assets/Picture2.png" alt="Valentine Surprise" /> 
</div>

<div *ngIf="showyayPicture" class="picture-container"> 
    <img src="assets/Picture3.png" alt="Valentine Surprise" /> 
</div>
  <div class="card">

    
    <div class="card-header">
        <h3>Will you be my Valentine… and let me steal your heart tonight? </h3>
    </div>
    <div class="card-body"> <p>For the details, click <a (click)="onConfirm()">here</a> </p> </div>
    <div class="card-footer">
      <button class="yes-btn" (click)="launchConfetti()">Accept</button>
      <button class="runaway-btn2" (click)="moveButton($event)" (mouseenter)="moveButton($event)">Decline</button>
    </div>
  </div>
</body>
